{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<form action="/aboutus" method="get">
  
    
<br>
<br>
<div>
   <p>You can find us at this adress:
   
   </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.260828147644!2d4.314354476992902!3d50.86337085754648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c37ae06a47b5%3A0x1f1f137c7187f918!2sChimney%20Delices!5e0!3m2!1sen!2sbe!4v1688989389599!5m2!1sen!2sbe" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   <p> Monday
    8 am–6:30 pm
    <br>
    Tuesday
    8 am–5:30 pm
    <br>
    Wednesday
    8 am–6:30 pm
    <br>
    Thursday
    8 am–5:30 pm
    <br>
    Friday
    8 am–6:30 pm
    <br>
    Saturday
    9 am–5 pm
    <br>
    Sunday
    Closed</p>
</div>

   

</form>
{% endblock %}