{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
<form action="/news" method="get">
<table class="container">
    <tr>
        <th><img alt="covrigi" src="static/covrigi/covrig_feta.png"><br>Salty cheese pretzel<br/>Price: 1.60 €</th>
        <th><img alt="covrigi" src="static/covrigi/covrig_branza.png"><br>Sweet cheesse pretzel<br/>Price: 1.60 €</th>
        <th><img alt="covrigi" src="static/covrigi/caltzone.png"><br>Calzone (jambon and fromage)<br/>Price: 2.50 €</th>
       
       
        
    </tr>
</table>

</form>
{% endblock %}