      
{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block main %}

<form action="/product" method="post">
    <table class="container">
       
        
        <tr>
            <th> <img alt="covrigi" src="static/covrigi/covrig_seminte.png"><br>Pretzel with seeds<br> Price: 0.90 € </th> 
            <th> <img alt="covrigi" src="static/covrigi/covrig_mac.png"><br>Pretzel with poppy seeds<br> Price: 0.90 € </th> 
            <th> <img alt="covrigi" src="static/covrigi/covrig_susan.png"><br>Pretzel with sesame<br> Price: 0.90 € </th> 
            
            


        </tr>
        <br>
        <tr>
            <th><img alt="covrigi" src="static/covrigi/kurtocs_nuca.png"><br>Kurtocs whit walnut<br/>Price 4.00 €</th>
            <th><img alt="covrigi" src="static/covrigi/kurtocs_canel.png"><br>Kurtocs with cinnamon<br/>Price: 4.00 €</th>
            <th><img alt="covrigi" src="static/covrigi/kurtocs_cocos.png"><br>Kurtocs with coconut<br/>Price: 4.00 €</th>
           
            
        </tr>
        <tr>
            <th><img alt="covrigi" src="static/covrigi/covrig_visine.png"><br>Cherry pretzel<br/>Price: 1.50 €</th>
            <th><img alt="covrigi" src="static/covrigi/covrig_ciocolata.png"><br>Chocolate pretzel<br/>Price: 1.50 €</th>
            <th><img alt="covrigi" src="static/covrigi/covrig_vanilie.png"><br>Vanilla pretzel<br/>Price: 1.50 €</th>
            <th><img alt="covrigi" src="static/covrigi/covrig_mar.png"><br>Apple pretzel<br/>Price: 1.50 €</th>
           
            
        </tr>
        <tr>
            <th><img alt="covrigi" src="static/covrigi/covrig_feta.png"><br>Salty cheese pretzel<br/>Price: 1.60 €</th>
            <th><img alt="covrigi" src="static/covrigi/covrig_branza.png"><br>Sweet cheesse pretzel<br/>Price: 1.60 €</th>
            <th><img alt="covrigi" src="static/covrigi/caltzone.png"><br>Calzone (jambon and fromage)<br/>Price: 2.50 €</th>
           
            
        </tr>
        <tr>
            <th><img alt="covrigi" src="static/covrigi/covrig_cremwursti.png"><br>Hot dog<br/>Price: 1.50 €</th>
        </tr>
    
    </table>


</form>


{% endblock %}